:root {
    --left-width: 180px;
    --team-width: 180px;
}


@font-face {
    font-family: 'burbank';
    src: url('burbank.ttf') format('truetype');
} 

body {
    font-family: 'Source Sans Pro', sans-serif;
    font: "rubic";
}


.grid {
    display: grid;
    grid-template-areas: 
        "left-margin    title       info      gap       search"
        "left-margin    region      team      event     event"
        "left-margin    region      team      player    player";
    grid-template-columns: 10px var(--left-width) var(--team-width) 300px 700px;
    grid-template-rows: 100px 150px auto; 
    grid-gap: 12px;
    margin: 0px;
    height: 1080px;
    /* width: 1920px;  */
    width: 1520px; 
}   


/*  grid-area */
.search {
    grid-area: search;
    font-weight: 700;
    font-size: 1.2em;
}

.help {
    grid-area: help;
    font-weight: 700;
    font-size: 1.2em;
}

.right {
    grid-area: right;
}

.player-count {
    grid-area: search;
    font-weight: 400;
    font-size: 1.2em;
}

.event {
    grid-area: event;
    font-weight: 500;
}

.weeks-player {
    grid-area: weeks;
    font-weight: 500;
}

.region {
    grid-area: region;
}

.team {
    grid-area: team;
}

.player {
    grid-area: player;
    font-weight: 800;
    font-size: 1.0em;
}
/* end of grid-area */


.gradient {
    background-image:
      radial-gradient(
        circle at top right,
        #A4A4A4,
        #FFFFFF
      );
  }

.right-align {
    text-align: right;
}

.wrap {
    word-wrap: break-word;
    border: 0px;
}

.title {
    grid-area: title;
    font-weight: 800;
    font-size: 3.0em;
}

.subtitle {
    grid-area: subtitle;
    font-weight: 700;
    font-size: 1.0em;
}

.filters-string {
    font-size: 1.2rem;
    fill: black;
    pointer-events: none;
    font-weight: 600;
}

.tick {
    font-weight: 500;
    font-size: 20px;
}


.search-box {
    position: absolute;
    margin-top: 30px;
    grid-area: search-box;
    font-weight: 700;
}

.player-stat {
    font-weight: 400;
    font-size: 1.5em;
    text-align: right;
}

.player-info {
    font-weight: 600;
    font-size: 1.4rem;
    text-align: right;
}

.big-fortnite {
    font-size: 1.1em;
    letter-spacing: .2rem;
    font-family: "Burbank";
}

.big-ping {
    font-weight: 900;
    font-size: 1.2em;
    letter-spacing: .03rem;
}

.little-fortnite {
    font-size: 1.7em;
    letter-spacing: .2rem;
    font-family: "Burbank";
    fill-opacity : .4;
}

.little-ping {
    font-weight: 900;
    font-size: 1.7rem;
    letter-spacing: .05rem;
    fill-opacity : .4;
}

.checkbox-label {
    font-weight: 600;
    font-size: 1.2em;
}

.event-name {
    font-weight: 800;
    font-size: 1.2em;
}

.week-label {
    font-weight: 800;
    font-size: 1.0em;
}

.player-stat-col-header {
    font-weight: 800;
    font-size: 1.0em;
}

.player-stat-row {
    font-weight: 800;
    font-size: 1.0em;
}

.posick {
    font-weight: 600;
    font-size: 1.6rem;
}

.player-rank {
    font-weight: 600;
    font-size: 1.2em;
    fill: dimgrey;
    text-align: right;
}

.player-stat-label {
    font-weight: 600;
    font-size: 0.9em;
}

.download-arrow {
    stroke: black;  
    stroke-width: 5;
    pointer-events: none;
}

.world-cup-only-check {
    font-weight: 700;
    font-size: 1.2em;
    pointer-events: "none";
} 


