:root {
    --left-width: 165px;
    --team-width: 196px;
}


@font-face {
    font-family: 'burbank';
    src: url('burbank.ttf') format('truetype');
} 

body {
    font-family: 'Source Sans Pro', sans-serif;
    font: "rubic";
}

 .grid {
    display: grid;
    grid-template-areas: 
        "left-margin    title       info        info    ads     right"
        "left-margin    search      filters     filters ads     right"
        "left-margin    region      region      region  ads     right"
        "left-margin    event       event       event   ads     right"
        "left-margin    player      player      player  ads     right";
    /* grid-template-columns: 10px 200px 136px 660px 125px 300px; */
    grid-template-columns: 10px 200px 136px 660px 0px 300px;
    grid-template-rows: 84px 45px 50px 150px auto; 
    grid-gap: 2px 12px;
    margin: 0px;
    height: 1080px;
    width: 1540px; 
}   

/*  grid-area */
.search {
    grid-area: search;
    font-weight: 700;
    font-size: 1.2em;
}

.filters {
    grid-area: filters;
}

.help {
    grid-area: help;
    font-weight: 700;
    font-size: 1.2em;
}

.right {
    grid-area: right;
}

.player-count {
    grid-area: search;
    font-weight: 400;
    font-size: 1.2em;
}

.event {
    grid-area: event;
    font-weight: 500;
}

.weeks-player {
    grid-area: weeks;
    font-weight: 500;
}

.region {
    grid-area: region;
}

.team {
    grid-area: team;
    overflow: auto;
}


/* Hidden for now */
.ads {
    grid-area: ads;
    display: none;
}

.player {
    grid-area: player;
    font-weight: 800;
    font-size: 1.0em;
}
/* end of grid-area */


.gradient {
    background-color: white;
    /* background-image: url("\img\Twitter3.JPG"); */
    /*background-image:
      /* radial-gradient(
        circle at top right,
        #A4A4A4,
        #FFFFFF
      );  */
  }


.loader {
    border: 26px solid #f3f3f3; /* Light grey */
    border-top: 26px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
 @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.right-align {
    text-align: right;
}

.wrap {
    word-wrap: break-word;
    border: 0px;
}

.title {
    grid-area: title;
    font-weight: 800;
    font-size: 3.0em;
}

.subtitle {
    grid-area: subtitle;
    font-weight: 700;
    font-size: 1.0em;
}

.filters-string {
    font-size: 1.2rem;
    fill: black;
    pointer-events: none;
    font-weight: 600;
}

.tick {
    font-weight: 500;
    font-size: 20px;
}


.search-box {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    grid-area: search-box;
    font-weight: 700;
}

.column-button {
    font-weight: 400;
    font-size: 1.2rem;
    pointer-events: none;
}

.button-text {
    font-weight: 600;
    font-size: 0.35em;
    pointer-events: none;
}


.player-info {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: right;
} 

/* .big-fortnite {
    font-size: 1.1em;
    letter-spacing: .2rem;
    font-family: "Burbank";
}

.big-ping {
    font-weight: 900;
    font-size: 1.2em;
    letter-spacing: .03rem;
}

.little-fortnite {
    font-size: 1.7em;
    letter-spacing: .2rem;
    font-family: "Burbank";
    fill-opacity : .4;
}

.little-ping {
    font-weight: 900;
    font-size: 1.7rem;
    letter-spacing: .05rem;
    fill-opacity : .4;
} */

.checkbox-label {
    font-weight: 400;
    font-size: 1.2em;
}

.event-name {
    font-weight: 600;
    font-size: 1.2em;
}

.week-label {
    font-weight: 400;
    font-size: 1.0em;
}

.g-header {
    font-weight: 600;
    font-size: 2.0em;
    fill: darkgrey;
}

.tiny-grey {
    font-weight: 200;
    font-size: .9em;
    fill: darkgrey;
}

.bar-chart-text {
    font-weight: 200;
    font-size: 0.9em;
    /* fill: darkgrey; */
}

.y-axis text {
    font-weight: 200;
    font-size: 0.6em;
}


.profile-player {
    font-weight: 800;
    font-size: 1.3em;
}

.player-stat-col-header {
    font-weight: 600;
    font-size: 0.9em;
    fill: dimgrey;
}

.player-stat-row {
    font-weight: 400;
    font-size: 0.9em;
    color: darkgrey;
}

.player-stat-summary {
    font-weight: 400;
    font-size: 1.0em;
}

.posick {
    font-weight: 600;
    font-size: 1.6rem;
}

.player-rank {
    font-weight: 600;
    font-size: 1.2em;
    fill: dimgrey;
    text-align: right;
}

.player-stat-label {
    font-weight: 600;
    font-size: 0.9em;
}

.download-arrow {
    stroke: black;  
    stroke-width: 5;
    pointer-events: none;
}

.world-cup-only-check {
    font-weight: 700;
    font-size: 1.2em;
    pointer-events: "none";
} 

