:root {
    --left-width: 300px;
}

@font-face {
    font-family: 'burbank';
    src: url('burbank.ttf') format('truetype');
  }

body {
    font-family: burbank;
    font: "rubic";
    /* color: #404040; */
}


.grid {
    display: grid;
    grid-template-areas: 
        "left-margin    title              title"
        "left-margin    subtitle           search"
        "left-margin    region             player"
        "left-margin    week               player";
    grid-template-columns: 2rem var(--left-width) auto;
    grid-template-rows: 5rem 2.2rem 17rem auto; 
    grid-gap: .0em;
    margin: 0px;
    height: 100vh;
    width: calc(100vw - 1.1rem); 
}

.gradient {
    background-image:
      radial-gradient(
        circle at top right,
        yellow,
        #f06d06
      );
  }

.title {
    grid-area: title;
    font-weight: 800;
    font-size: 3.4em;
}

.subtitle {
    grid-area: subtitle;
    font-weight: 700;
    font-size: 1.2em;
}

.search {
    grid-area: search;
    font-weight: 700;
    font-size: 1.2em;
}

.week {
    grid-area: week;
    font-weight: 500;
}

.region {
    grid-area: region;
}

.player {
    grid-area: player;
}

