:root {
    --left-width: 300px;
}

@font-face {
    font-family: 'burbank';
    src: url('burbank.ttf') format('truetype');
} 

body {
    font-family: burbank;
    /* font-family: OpenSans,sans-serif; */
    font: "rubic";
    /* color: #404040; */
}


.grid {
    display: grid;
    grid-template-areas: 
        "left-margin    title              title"
        "left-margin    subtitle           search"
        "left-margin    region             player"
        "left-margin    weeks              player"
        "left-margin    week               player";
    grid-template-columns: 1rem var(--left-width) auto;
    grid-template-rows: 4.0rem 1.7rem 14.2rem 26rem auto; 
    grid-gap: .8em;
    margin: .25em;
    height: 100vh;
    width: calc(100vw - 1.1rem); 
}

.gradient {
    background-image:
      radial-gradient(
        circle at top right,
        yellow,
        #f06d06
      );
  }

.red {
    color: #DB4441; 
}
.green {
    color: #319236;
}
.purple { 
    color: #9D4DBB;
}
.blue {
    color: #4C51F7;
}
.teal { 
    color: #3E93BC;
}
.lime {
    color: #3CFF3E;
}

.title {
    grid-area: title;
    font-weight: 800;
    font-size: 3.4em;
}

.subtitle {
    grid-area: subtitle;
    font-weight: 700;
    font-size: 1.0em;
}

.search {
    grid-area: search;
    font-weight: 700;
    font-size: 1.2em;
}

.player-count {
    grid-area: search;
    font-weight: 400;
    font-size: .6em;
}

.table {
    grid-area: table;
}

.weeks {
    grid-area: weeks;
    font-weight: 500;
}

.week {
    grid-area: week;
    font-weight: 500;
}

.week-chart {
    fill: red;
}

.region {
    grid-area: region;
}
/* 
.region2 {
    grid-area: region2;
    font-weight: 500;
}
 */
.player {
    grid-area: player;
    font-family: sans-serif;
    font-weight: 700;
    font-size: .8em;
}
/* 
.dc-table-column {
    font-weight: 400;
    font-size: .9em;
} */

