:root {
    --left-width: 300px;
}

@font-face {
    font-family: 'burbank';
    src: url('burbank.ttf') format('truetype');
} 

body {
    font-family: burbank;
    font: "rubic";
}


.grid {
    display: grid;
    grid-template-areas: 
        "left-margin    title              title  "
        "left-margin    subtitle           search "
        "left-margin    region             player "
        "left-margin    weeks              player ";
    grid-template-columns: 10px var(--left-width) 1000px;
    grid-template-rows: 70px 1.7rem 14.2rem auto; 
    grid-gap: 15px;
    margin: 0px;
    height: 910px;
    width: 1400px; 
}

.gradient {
    background-image:
      radial-gradient(
        circle at top right,
        yellow,
        #f06d06
      );
  }

.right-align {
    text-align: right;
}


#dc-chart-player {
    table-layout: fixed;
}

.wrap {
    word-wrap: break-word;
    border: 0px;
}

.title {
    grid-area: title;
    font-weight: 800;
    font-size: 3.4em;
}

.subtitle {
    grid-area: subtitle;
    font-weight: 700;
    font-size: 1.0em;
}

.search {
    grid-area: search;
    font-weight: 700;
    font-size: 1.2em;
}

.player-count {
    grid-area: search;
    font-weight: 400;
    font-size: 1.2em;
}

.table {
    grid-area: table;
}

.weeks {
    grid-area: weeks;
    font-weight: 500;
}

.week-chart {
    fill: red;
}

.region {
    grid-area: region;
}

.player {
    grid-area: player;
    font-family: monospace;
    font-weight: 800;
    font-size: 1.0em;
}


